@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  font-family: "Outfit", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  background-color: #f1f1f1;
}

button, input, textarea, select, span, p, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.no-select {
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
